version: "3.9"

services:

  catsdogs-api:
    image: ${DOCKER_USERNAME:-local}/catsdogs-mlops:latest
    build: .
    container_name: catsdogs-api
    ports:
      - "8000:8000"

    restart: unless-stopped

    environment:
      - PYTHONUNBUFFERED=1

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3