name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:

# =========================
# CI JOB
# =========================
  build-test-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install deps
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: pytest

    - name: Build image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/catsdogs-mlops:latest .

    - name: Login DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/catsdogs-mlops:latest


# =========================
# CD JOB
# =========================
  deploy:
    needs: build-test-push
    runs-on: ubuntu-latest

    steps:

    - name: Deploy via SSH + Docker Compose
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key: ${{ secrets.DEPLOY_KEY }}
        script: |
          cd catsdogs-deploy
          docker compose pull
          docker compose up -d

    - name: Smoke test
      run: |
        sleep 20
        curl -f http://${{ secrets.DEPLOY_HOST }}:8000/health